
.MainCard {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.MainCard > h2 {

    color: yellow;
    margin-bottom: 40px;
}

.CardBlock {
    display: flex;
    flex-direction: row;
    color: yellow;
    margin: 60px;
    padding: 60px;
    background: var(--background-color4);
    row-gap: 10px;
    column-gap: 60px;
    border-radius: 15px;
    box-shadow: inset 0 0 20px rgb(255, 216, 26);
    outline: 1px solid;
    outline-color: rgba(243, 241, 241, 0.5);
    outline-offset: 0;
    text-shadow: none;
}

.ImgBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CardBlock img {
    width: 350px;
    border-radius: 12px;
}

.TextBlock {

    display: flex;
    flex-direction: column;
    font-size: 20px;
    row-gap: 10px;

}

.TextBlock > h1 {

    margin-bottom: 10px;

}