.MainCardBlock {

    width: 18.5%;
    min-height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 12px;
    row-gap: 10px;

}

.CardContentBlock {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.CardContentBlock > h2 {

    color: gold;
    margin-bottom: 10px;
    text-shadow: #ff0808 5px 0 5px;
}


.CardContentBlock > img {

    border-radius: 12px;
    border-bottom:var(--border-bottom);
    border-right:var(--border-right);
    padding-bottom:2px;
    padding-right:2px;
    background:var(--background-color6);
}

.CardContentBlock > img:hover {

    border: 2px solid yellow;
    transition: 500ms;

}
