.MainMovieBlock {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;

}

.MovieListWithButtons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}