.ContentBlock {

    min-width: 150px;
    height: 250px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.ContentBlock>img{

    width: 150px;
    height: 220px;
border-radius: 12px;
}

.ContentBlock>h2{

    font-size: 16px;

}